.App {
    background-color: #008b8b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ItemListContainer {
    background-color: #13b9b9;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.NavBar {
    background-color: #19dbdb;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
